@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0B1026;
}

::-webkit-scrollbar-thumb {
  background: #4C1D95;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6D28D9;
}